{% extends "base.html" %}
{% block content %}
{% load static %}



        <div class ='col pt-5 mt-5'>
            <H5> Fire Awareness with AI</H5>
            <h1 class="display-1" >FyreWatchAI</h1>
            <h2 class="text-muted">Analyse the risk of fires by uploading the coordinates and NDVI image of the desired area. The AI will analyse and provide a report on the relative risk.</h2>
            <div class= 'container pt-4 p-0'>
            <form  action = "." method = "POST" enctype = 'multipart/form-data'> {% csrf_token%}
                {{ form.as_p }}
                <input class ='btn btn-primary btn-lg btn-block'type = "submit" value = "Diagnose"/>


        </div>
        </div>
        </div>
    </div>



