{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<style type="text/css">
    body{ 
     background: url('{% static "images/Fyre.png" %}') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 100vh;
     
    }
</style>
  </head>

  <body class="text-center bg-image">
    
    <h1 class="text-white display-1"> PREVENT FOREST FIRE WITH THE HELP OF AI</hi>
  </body>

    {% endblock content %}

